<html>
<head></head>
<body>
  <div align="center">
    <div id="site_body">
      <div id="site_header">$includeNamed{'header'}</div>
      <div id="site_header2">
        <div class="info">${page.toInfoHTML(parameter)}</div>
        <div id="site_menu_bar"></div>
        <div class="clearfix"></div>
      </div>
      <div id="site_content">${content}</div>
      <div id="site_footer">$includeNamed{'footer'}</div>
    </div>
  </div>
</body>
<script type="text/javascript">
  (function() {
    if (Browser.IEVersion && Browser.IEVersion <= 8 && screen.width <= 1024)
      $("site_body").setStyle("width: 990px;");
  })();
</script>
</html>