$if{isShowTitle}
<div class="Category_BlankPage_title clearfix">
  ${titleEles} 
  ${tabbuttons}
</div>
$end{}
<div class="Category_BlankPage">
  <table>
    <tr>
      $if{isShowCategory}
      <td width="${w}" class="category">
        <div class="col1">${categoryHTML}</div>
      </td>
      $end{}
      <td valign="top">
        <div class="col2">${col2}</div>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
	$ready(function() {
    var col1 = $(".Category_BlankPage .col1");
    var col2 = $(".Category_BlankPage .col2");
    var h1 = col1.getHeight() + 40;
    var h2 = col2.getHeight();
    if (h2 < h1) {
      col2.setStyle("height: " + h1 + "px;");
    }
  });
</script>
