.Tabs_BlankPage .Tabs_tb {
  border: 1px solid #aaa;
  border-bottom: 0;
  background-color: #fff;
  padding: 6px 10px;
}

.Tabs_BlankPage .Tabs_tb .le {
  float: left;
  line-height: 19px;
}

.Tabs_BlankPage .Tabs_tb .le * {
  vertical-align: middle;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs {
  position: relative;
  margin-right: 120px;
  bottom: -6px;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs a {
  border: 1px solid #bbb;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs a.active {
  background-color: #f9f9f9;
  border-bottom-color: #f9f9f9;
  background-image: none;
}

.Tabs_BlankPage .Tabs_tb .re {
  float: right;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs a {
  padding: 2px 21px;
}

.Tabs_BlankPage .Tabs_cc {
  background-color: #fff;
  border: 1px solid #bbb;
  min-height: 480px;
}

.Tabs_BlankPage .Tabs_cc .tbar {
  padding: 6px 8px;
  border-bottom: 1px solid #bbb;
  background-color: #f9f9f9;
  position: relative;
}

.Tabs_BlankPage .Tabs_cc .tbar .simple_tabs {
  position: absolute;
  bottom: 0;
  left: 24%;
}

.Tabs_BlankPage .Tabs_cc .tbar .simple_tabs a {
  background-color: #eee;
}

.Tabs_BlankPage .Tabs_cc .tbar .simple_tabs a.active {
  background-color: #fff;
  border-bottom-color: #fff;
}