.Tabs_BlankPage .Tabs_tb {
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 8px 8px 0;
}

.Tabs_BlankPage .Tabs_tb .le {
  float: left;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs a {
  border: 1px solid #bbb;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs a.active {
  background-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
  background-image: none;
}

.Tabs_BlankPage .Tabs_tb .re {
  float: right;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs {
  margin-right: 120px;
}

.Tabs_BlankPage .Tabs_tb ul.simple_tabs a {
  padding: 2px 21px;
}

.Tabs_BlankPage .Tabs_cc {
  background-color: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  min-height: 480px;
}

.Tabs_BlankPage .Tabs_cc .tbar {
  padding: 8px;
  border-bottom: 1px solid #bbb;
  background-color: #f5f5f5;
  position: relative;
}

.Tabs_BlankPage .Tabs_cc .tbar .simple_tabs {
  bottom: 0;
  position: absolute;
  right: 10px;
}

.Tabs_BlankPage .Tabs_cc .tbar .simple_tabs a {
  background-color: #eee;
}

.Tabs_BlankPage .Tabs_cc .tbar .simple_tabs a.active {
  background-color: #fff;
  border-bottom-color: #fff;
  background-image: none;
}
