.Blank_PageletsPage {
  overflow: hidden;
}

#site_content .Blank_PageletsPage {
  padding: 8px;
}

.Blank_PageletsPage .col1 {
  float: left;
  width: 100%;
}

.Blank_PageletsPage .col1_1 {
  margin-right: 294px;
}

.Blank_PageletsPage .col2 {
  float: right;
  margin-left: -290px;
  width: 290px;
  margin-bottom: 2px;
  position: relative;
  *position: inherit; /* ie7 */
}

.TopBar_PageletsPage .tool_bar {
  background-color: #F9F9F9;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  padding-bottom: 0;
}

.TopBar_PageletsPage .tool_bar .simple_tabs {
  margin-top: 4px; 
  margin-left: -1px;
}

.TopBar_PageletsPage .filter_bar {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-top: -6px;
  padding: 2px 8px;
}

.List_PageletsPage .tablepager .itr>td {
  padding: 6px 8px;  
}

.List_PageletsPage .nc {
  color: #777777;
  line-height: 1.4;
  padding: 6px 0;
}

.List_PageletsPage .nc .photo_icon {
  margin: 0 15px 4px 0;
  float: left;
  width: 64px;
  height: 64px;
}

.List_PageletsPage .time {
  float: right;
  text-align: center;
  width: 40px;
  margin: 1px 1px 6px 6px;
  background-color: #7cd;
  color: #fff;
  padding: 4px;
}

.List_PageletsPage .time .month {
  font-size: 11px;
}

.List_PageletsPage .time .day {
  font-family: Georgia;
  font-size: 24px;
  font-weight: bold;
  margin: -6px 0 -2px 0;
}

.List_PageletsPage .time .year {
  font-size: 9px;
}

.List_PageletsPage .nd {
  padding-top: 10px;
  color: #444;
  text-align: right;
}

.View_PageletsPage {
  border: 1px solid #ccc;
  padding: 8px 8px 0;
  margin-bottom: 80px;
  background-color: #fff;
}

.View_PageletsPage .time {
  background: url("images/date.gif") no-repeat scroll left top transparent;
  color: #fff;
  display: inline;
  float: left;
  font-size: 11px;
  height: 64px;
  line-height: 15px;
  text-align: center;
  width: 56px;
}

.View_PageletsPage .time .day {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 8px;
}

.View_PageletsPage .topic {
  border-bottom: 4px solid #a00;
  margin: 0 -9px;
  padding: 0 0 8px 70px;
}

.View_PageletsPage .topic .l1 {
  font-size: 16pt;
  font-weight: bold;
  line-height: 36px;
}

.View_PageletsPage .topic .l2 {
  color: #777;
  line-height: 21px;
}

.View_PageletsPage .cc {
  margin: 10px 4px 25px 4px;
  font-size: 10pt;
  line-height: 1.6;
  color: #344;
}

.View_PageletsPage .fd {
  margin: 30px 2px;
}

.View_PageletsPage .form_tbl {
  background-color: #ccc;
  margin-top: -1px;
}

.View_PageletsPage .comment {
  margin: 0 -9px -9px;
}

.View_PageletsPage .attach {
  border-top: 1px solid #ccc;
  margin: 0 -8px -1px;
  position: relative;
}

.View_PageletsPage .attach_img {
  height: 32px;
  width: 32px;
  position: absolute;
  top: -10px;
  left: -10px;
  background: url("images/attach.png") no-repeat 0 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.View_PageletsPage .Comp_Attachment .l_attach {
  padding-left: 20px;
}