body {
  background: url("images/page-background.png") 0 0 repeat-x #fdfdfd;
}

.form_tb_bar {
  background-color: #def;
  background-image: -webkit-linear-gradient(top, #fff, #def);
  background-image: -moz-linear-gradient(top, #fff, #def);
  background-image: -ms-linear-gradient(top, #fff, #def);
  background-image: linear-gradient(to bottom, #fff, #def);
  border: 1px solid #999;
  border-top: 0;
  height: 36px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

.form_top_gap {
  height: 37px;
}

.form_tb_bar .simple_tabs a {
  border: 1px solid #999;
}

.form_tb_bar .simple_tabs a.active {
  background: url("images/tab_bg.png") 0 0 repeat-x;
  border-bottom-color: #E8F2FE;
}

.form_tb_bar .re {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 200px 0 10px;
}

.form_tb_bar .re .login {
  position: absolute;
  right: 12px;
  top: 3px;
}

.form_tb_bar .le {
  padding: 5px 0 0 8px;
}

.form_tb_bar .le .lbl {
  color: #900;
  font-size: 10.5pt;
  font-style: italic;
  margin-left: 8px;
}

.form_content {
  padding: 10px 10px 100px;
}

.form_content>div {
  margin: 0 auto;
}

.form_content .FormTableRowTemplatePage {
  padding: 0;
  -webkit-box-shadow: 0 0 10px #eee;
	-moz-box-shadow: 0 0 10px #eee;
  box-shadow: 0 0 10px #eee;
}

.form_content .form_tbl {
  background-color: #cfcfcf;
}